html * {
    box-sizing: border-box;
}

body {
    min-width: 768px;
    width: 100%;
}

@media screen and (max-width:768px) {
    #maintitle .maintitleimg {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .container {
        margin: 15px 15px;
    }
    #maintitle .maintitleimg {
        width: 80%;
        height: 80%;
        margin-top: 20px;
    }
    #maintitle .maintitletext .catschool {
        font-size: 5rem;
        letter-spacing: 10px;
        padding-top: 15px;
    }
    #maintitle .maintitletext .catclass {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    .activeZone {
        margin-right: 0;
    }
    #catnav {
        padding: 0;
    }
    #catnav .titlemenu {
        font-size: 15px;
        letter-spacing: 2px;
    }
    #catnav .submenu .nav4 {
        padding: 2px 2px 2px 10px;
        font-size: 13px;
    }
    #catnav .navclock .clockbox {
        margin: 0;
        padding-left: 10px;
    }
}

.container {
    border: 1px solid black;
    font-family: 'Yeon Sung', cursive;
    background: #c1bebf;
    margin: 30px auto;
    height: 100%;
    width: 90%;
}

.container a {
    text-decoration: none;
    color: black;
}

/*maintitle.css*/

#maintitle {
    overflow: hidden;
    margin: 20px auto;
    padding: 0 !important;
}

#maintitle > * {
    height: 160px;
    padding: 0 !important;
}

.maintitletext {
    padding: 0 !important;
    margin: auto 20px;
    width: 60%;
}

.maintitleimg {
    display: block;
}

.maintitleimg img {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.catschool {
    font-size: 7rem;
    text-align: center;
    border-bottom: 2px solid black;
}

.catclass {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0;
}

.activeZone {
    width: 100%;
    overflow: hidden;
    clear: both;
}

#catnav .titlemenu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navchart {
    border: 1px solid black;
}

.navchart * {
    cursor: pointer;
}

.titlemenu {
    font-size: 2rem;
    padding: 3px 7px;
    border-bottom: 2px dashed black;
    letter-spacing: 8px;
}

.titlemenu:first-child {
    border-top: 0;
}

.titlemenu:last-child {
    border-bottom: none;
}

.nav4 {
    font-size: 1.6rem;
    display: block;
    text-align: center;
    padding-left: 20px;
}

.submenu {
    display: none;
}

.submenu .nav4:hover {
    background: rgba(0, 0, 0, 0.12);
}

#section {
    font-size: 1.7rem;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
    float: left;
}

.mainpagewrap {
    border: 1px solid black;
}

.firstpage {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.firstpage > * {
    margin: 15px auto;
    padding: 15px;
}

/*section.css*/

#section > * > * {
    padding: 0 15px;
}

.userguide {
    border: 2px solid green;
}

.guidewrite {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.history {
    line-height: 30px;
    border: 2px solid blue;
}

.adbanner {
    padding: 0 !important;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.adslides {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
    border:2px solid blue;
}
.adslides img{
    float: left;
    width: 330px;
    height: 300px;
    border:2px solid red;
    left: 0;
    top:0;
}

.bannerbtn {
    width: 100%;
    height: 150px;
    position: absolute;
    top:120px;
    z-index: 10;
    border:5px solid black;
}

.prev {
    background: none;
    font-size: 4rem;
    float: left;
    border: none;
}

.next {
    background: none;
    font-size: 4rem;
    float: right;
    border: none;
}

button:focus {
    outline: none;
}

.guidebtn {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    height: 20px;
    overflow: hidden;

}

.guidebtn li {
    float: left;
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

.guidebtn li:first-child {
    margin-left: 0;
}

.guidebtn li:last-child {
    margin-right: 10px;
}

.guidebtn li a {
    display: block;
    width: 16px;
    height: 16px;
    background: url(img/banner/BTN.PNG) no-repeat 0 0;
    text-indent: -9999em;
}

.guidebtn li a.on {
    background-position: 0 -16px;
}

/* inmed.css*/

.snavmediin {
    width: 60%;
    margin: auto;
    border: 2px solid pink;
}

.navmediin .memodate {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid orange;
}

.cattitle {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}

.memodate {
    border: 2px solid green;
    text-overflow: ellipsis;
}

#calender {
    border: 2px solid red;
    font-size: 30px;
}

input {
    font-size: 20px;
    margin-top: 10px;
}

.navbookmark .memodate {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.navclock .titlemenu {
    padding: 5px 0;
    display: block;
}

.navclock .clockbox {
    margin: 10px 25px;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 2px;
    white-space: pre-line;
}

.prolist {
    border: 2px solid red;
    text-align: center;
    border: 1px solid black;
    border-radius: 20%;
    margin: 5px 10px;
    display: inline-flex;
}

.prolist a {
    text-decoration: none;
    font-size: 15px;
    color: darkslategray;
    margin: auto 10px;
}

#footer {
    border-top: 2px solid black;
    margin-top: 30px;
}

.address {
    margin: 20px auto;
    text-align: right;
    line-height: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}
