html * {
    box-sizing: border-box;
    background: #c1bebf;
}

body {
    min-width: 768px;
    width: 100%;
}

@media screen and (max-width:768px) {
    #maintitle .maintitleimg {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .container {
        margin: 15px 15px;
    }
    #maintitle .maintitleimg {
        width: 80%;
        height: 80%;
        margin-top: 20px;
    }
    #maintitle .maintitletext .catschool {
        font-size: 5rem;
        letter-spacing: 10px;
        padding-top: 15px;
    }
    #maintitle .maintitletext .catclass {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    .activeZone {
        margin-right: 0;
    }
    #catnav {
        padding: 0;
    }
    #catnav .titlemenu {
        font-size: 15px;
        letter-spacing: 2px;
    }
    #catnav .submenu .nav4 {
        padding: 2px 2px 2px 10px;
        font-size: 13px;
    }
    #catnav .navclock .clockbox {
        margin: 0;
        padding-left: 10px;
    }
}

.container {
    border: 1px solid black;
    font-family: 'Yeon Sung', cursive;
    /* background: #c1bebf; */
    margin: 30px auto;
    height: 100%;
    width: 90%;
}

.container a {
    text-decoration: none;
    color: black;
}

/*maintitle.css*/

#maintitle {
    overflow: hidden;
    margin: 20px auto;
    padding: 0 !important;
}

#maintitle > * {
    height: 160px;
    padding: 0 !important;
}

.maintitletext {
    padding: 0 !important;
    margin: auto 20px;
    width: 60%;
}

.maintitleimg {
    display: block;
}

.maintitleimg img {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.catschool {
    font-size: 7rem;
    text-align: center;
    border-bottom: 2px solid black;
}

.catclass {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0;
}

.activeZone {
    width: 100%;
    overflow: hidden;
    clear: both;
}

#catnav .titlemenu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navchart {
    border: 1px solid black;
}

.navchart * {
    cursor: pointer;
}

.titlemenu {
    font-size: 2rem;
    padding: 3px 7px;
    border-bottom: 2px dashed black;
    letter-spacing: 8px;
}

.titlemenu:first-child {
    border-top: 0;
}

.titlemenu:last-child {
    border-bottom: none;
}

.nav4 {
    font-size: 1.6rem;
    display: block;
    text-align: center;
    padding-left: 20px;
}

.submenu {
    display: none;
}

.submenu .nav4:hover {
    background: rgba(0, 0, 0, 0.12);
}

#section {
    font-size: 1.7rem;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
    float: left;
}

.mainpagewrap {
    border: 1px solid black;
}

.firstpage {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.firstpage > * {
    margin: 15px auto;
    padding: 15px;
}

/*section.css*/

#section > * > * {
    padding: 0 15px;
}

.userguide {
    border: 2px solid none;
}

.guidewrite {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.history {
    line-height: 30px;
    border-right: 2px dashed black;

}

.adbanner {
    padding: 0 !important;
    height: 300px;
    max-width: 890px;
    overflow: hidden;
    position: relative;
}

.adslides {
    position: absolute;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    border:2px solid none;
}
.adslides a{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
}
.adslides a img{
    width:100%;
    height:300px;
}
.bannerbtn {
    height: 170px;
    position: absolute;
    top:120px;
    z-index: 10;
    border:5px solid black;
}

.prev {
    background: none;
    font-size: 4rem;
    float: left;
    border: none;
}

.next {
    background: none;
    font-size: 4rem;
    float: right;
    border: none;
}

button:focus {
    outline: none;
}

.guidebtn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    height: 20px;
    overflow: hidden;
    border:2px solid none;
}

.guidebtn li {
    float: left;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(img/banner/BTN.PNG) no-repeat 0 0;
    text-indent: -9999em;
}

.guidebtn li:first-child {
    margin-left: 0;
}

.guidebtn li:last-child {
    margin-right: 10px;
}


.guidebtn li.on {
    background-position: 0 -16px;
}

/* inmed.css*/
.snavmedi{
    width:930px;
    margin: 0 auto;
    overflow: hidden;
}
.snavmediin {
    margin: auto;
    border:2px solid red;
    display:block;
    overflow: hidden;
}
.snavmediin .canvasjs-chart-toolbar{
    display: none;
}
.snavmediout{
    display: block;
    border:2px solid green;
    display:block;
    
}
 .memodate {
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    text-overflow: ellipsis;
}

.cattitle {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}


#calender {
    border: 2px solid red;
    font-size: 30px;
}

input {
    font-size: 20px;
}

.navclock .titlemenu {
    padding: 5px 0;
    display: block;
}

.navclock .clockbox {
    margin: 10px 25px;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 2px;
    white-space: pre-line;
}

.snavbookmark{
    overflow: hidden;
}
.snavbookmark .prolist {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    display: inline-flex;
}

.snavbookmark .prolist .form {
    width:100%;
}

.snavbookmark .prolist .form .form-group{
    overflow:hidden;
}

/* .snavbookmark .prolist .form .half_form{
    overflow:hidden;
    float:right;
} */

.snavbookmark .prolist .form .form-group .inputDnD{
     width:100%;
     height: 300px;
     border:1px solid rgba(0,0,0,0.3);
     display: block;
}

.snavbookmark .prolist .form .form-group>*{
    display: inline;
    font-size: 1.5rem;
}
.snavbookmark .prolist .form .form-group label{
    width:15%;
    text-align:right;
    display:inline-block;
    color: #F5F5DC;
}
.snavbookmark .prolist .form .form-group input{
    width:80%;
    display:inline-block;
    border:none;
    background-color: #c1bebf;
    padding-left:15px;
}

#footer {
    border-top: 2px solid black;
    margin-top: 30px;
}

.address {
    margin: 20px auto;
    text-align: right;
    line-height: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}
